:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

html{
    background: grey;
}
.container {
    display: grid;
    grid-template-columns: var(--grid-cols);
    grid-row: var(--grid-rows);
    justify-content: center;
    margin-top:5rem;
  }
  .one {
    background: white;
    width: 200px;
    padding: 200px;
    border: 5px solid rgb(150, 52, 52);
    margin: 0;
    
  }